/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

/* Tablet and desktop menu */
.top-bar {
    border-bottom: 1px solid #DDDDDD;

  .menu .home a {
    font-size: 1rem;
    color: #444444;
    width: 240px;
    margin-top: -7px;
      
      &:hover:not(.button) {
          background-color: white;
      }
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: #777777;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 0.7rem;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover:not(.button) {
      background-color: #F6F6F6;
    }
  }

  .menu>li:not(.menu-text)>a { padding: 1rem; }
  .menu li:not(:last-child) { border-right: 1px solid #EEEEEE; }

  .dropdown.menu .submenu {
    background-color: white;
    color: #444444;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}
